<html>
<head>
	<title>Employee_Attrition</title>
	<style>
		*{ font-size:30px;font-family:TimesNewRoman;}
		body{background-color:tomato;}

		input[type=submit]{
		background-color:MediumSeaGreen;
		border-radius:12px;
		color:Black;
		display:inline-block;}

		input[type=text]{
		background-color:yellow;
		border-radius:12px;
		color:Black;
		display:inline-block;}

		input[type=email]{
		background-color:yellow;
		border-radius:12px;
		color:Black;
		display:inline-block;}
	</style>
</head>
<body>
<center>
<h1 style="font-style:italic;font-weight:bold;color:DarkBlue;">You will get your forgotten password if your entered username is authenticated</h1>

<form action="/fpassword" method="POST">
	<input type="text" name="un" placeholder="enter your username" required>
	<br><br>
	<input type="email" name="em" placeholder="enter email address" required>
	<br><br>
	<input type="submit" value="Get Password" style="cursor:pointer";>
</form>
* Please check your mail for the password *
<br><br>
<br><br>
<a href="{{url_for('login')}}">login</a>
</center>
</body>
</html>
	
		